/* .header2 {

        background-color: #44474b;
        height: 50px;
        color: rgba(255, 0, 0, 0.733);
        width: 100%;
        /* position: fixed; 
        display: grid;
        /* margin-top: -16px; 
        /* border-bottom: black solid 1px; 
} 

body {
     background-color: blue; 
} */

.p01 {
    font-size: 3em;
    font-family: monospace;
    color: rgb(80, 80, 80);
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center; 
}
.p02 {
    font-size: large;
    width: 80%;
    font-family: monospace;
    color: rgb(70, 70, 70);
    /* display: flex; */
    /* align-items: center; */
    justify-content: center; 
    margin-left: 10%;
}

.div {
    /* margin-left: 1%; */
    margin-top: 10%;
    border-bottom: 20px solid white;
}
/* 
.div {
    display: flex;
    align-items: center;
    justify-content: center; 
} */